node_modules/
.turbo/
**/.turbo/
**/node_modules/
coverage/
**/coverage/
dist/
**/dist/


# dotenv environment variable files
**/.env
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local

# infra env files (never commit)
infra/envs/.env.*
infra/envs/*.env

# temp deploy files
.deploy_tmp/