.container {
  flex: 1;
  background-color: var(--surface-canvas);
  padding: var(--space-layout-page-y) var(--space-layout-page-x);
  min-height: 100%;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1400px;
  margin-inline: auto;
}

@media (max-width: 1199px) {
  .content {
    width: 90%;
  }
}

@media (max-width: 899px) {
  .content {
    width: 100%;
  }
}

.center {
  justify-content: center;
  align-items: center;
}
