.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  scroll-behavior: smooth;
}

@media (max-width: 900px) {
  .container {
    gap: 3rem;
  }
}

@media (max-width: 640px) {
  .container {
    gap: 2.5rem;
  }
}
