.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.message {
  margin: 0;
  font-family: var(--typo-body-md-font-family);
  font-size: var(--typo-body-md-font-size);
  line-height: var(--typo-body-md-line-height);
  letter-spacing: var(--typo-body-md-letter-spacing);
}
