.section {
  margin-bottom: var(--space-layout-section-y);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 0;
  margin-bottom: var(--space-component-gap-md);
  font-size: var(--typo-title-lg-font-size);
  line-height: 1.25;
}
