.card {
  border: 1px solid var(--border-default);
  border-radius: var(--radius-component-card);
  min-height: 100px;
  padding: var(--space-component-gap-lg) var(--space-component-card-padding);
  background: var(--surface-default);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: var(--content-default);
  font-family: var(--typo-label-md-font-family);
  font-size: var(--typo-label-md-font-size);
  line-height: var(--typo-label-md-line-height);
  letter-spacing: var(--typo-label-md-letter-spacing);
  font-weight: var(--typo-label-md-font-weight);
  cursor: pointer;
  transition:
    background 0.1s,
    border-color 0.1s;
}

.cardPressed {
  background: var(--surface-hover);
  border-color: var(--border-primary);
}
