.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-component-gap-xl);
  width: 100%;
}

.searchGroup {
  display: flex;
  flex-direction: column;
  gap: var(--space-component-gap-md);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
